.whitehouse_logo{
	font-size:37px;
	font-family:"Arial",sans-serif;
	text-align: center;
	color:white;
	width:360px;
	height:102px;
	background-color:#15377E;
	padding-top: 24px;
	float:left;
	text-decoration: none;
	position:absolute;
	top:75px;
	left:350px;
}
.whitehouse_logo:hover{
	background-color:#02143A;
	color:#4462A3;
}
.whitehouse_logo:active{
	background-color:#FB0012;
	color:white;
}

.menu_A{
	width:122px;
	height:122px;
	background-color:#00CAA2;
	color:white;
	position:absolute;
	left:122;
	top:122;
}
.menu_A:hover{
	background-position: 122px 0;
	background-color:#00E5B8;
}
.menu_B{
	width:122px;
	height:122px;
	background-color:#16E400;
	color:white;
	position:absolute;
	left:244;
	top:122;
}
.menu_B:hover{
	background-position: 122px 0;
	background-color: #17F200;
}

.container{
	width:800px;
	height:1200px;
	position: relative;
}